<section class="top-sales">
  <div class="container">
    <h2 class="top-sales__title-main">Топ продаж</h2>
    <ul class="top-sales__list">
      <li class="top-sales__item">
        <article class="top-sales__sticker">
          <picture class="top-sales__wrapper-image">
            <source srcset="./assets/images/raster/top-sales-holofobis-655.png" media="(max-width: 655px)">
            <img src="./assets/images/raster/top-sales-holofobia.png" width="142" height="174" alt="Стикер 'Holofobia'"
                 loading="lazy"/>
          </picture>
          <div class="top-sales__wrapper-info">
            <div class="top-sales__owner">
              <img src="./assets/images/raster/top-sales-avatar-1.png" width="24" height="24" alt="Аватар ttgs" loading="lazy">
              <span>ttgs</span>
            </div>
            <h3 class="top-sales__title-sticker">Holofobia1</h3>
            <data class="top-sales__price" value="4.70">
              4.70 ETH <span>($16,873.47)</span>
            </data>
          </div>
        </article>
      </li>

      <li class="top-sales__item">
        <article class="top-sales__sticker">
          <div class="top-sales__wrapper-image">
            <img src="./assets/images/raster/top-sales-y.png" width="142" height="174" alt="Стикер 'Y'"
                 loading="lazy"/>
          </div>
          <div class="top-sales__wrapper-info">
            <div class="top-sales__owner">
              <img src="./assets/images/raster/top-sales-avatar-2.png" width="24" height="24" alt="Аватар Tat_2" loading="lazy">
              <span>Tat_2</span>
            </div>
            <h3 class="top-sales__title-sticker">Y.EEE</h3>
            <data class="top-sales__price" value="3.00">
              3.00 ETH <span>($10,731.24)</span>
            </data>
          </div>
        </article>
      </li>

      <li class="top-sales__item">
        <article class="top-sales__sticker">
          <div class="top-sales__wrapper-image">
            <img src="./assets/images/raster/top-sales-baby-yoda.png" width="142" height="174" alt="Стикер 'Baby Yoda'"
                 loading="lazy"/>
          </div>
          <div class="top-sales__wrapper-info">
            <div class="top-sales__owner">
              <img src="./assets/images/raster/top-sales-avatar-3.png" width="24" height="24" alt="Аватар Chris22" loading="lazy">
              <span>Chris22</span>
            </div>
            <h3 class="top-sales__title-sticker">Holofobia1</h3>
            <data class="top-sales__price" value="2.00">
              2.00 ETH <span>($7,121.04)</span>
            </data>
          </div>
        </article>
      </li>

      <li class="top-sales__item">
        <article class="top-sales__sticker">
          <div class="top-sales__wrapper-image">
            <img src="./assets/images/raster/top-sales-infinity.png" width="142" height="174" alt="Стикер 'Infinity'"
                 loading="lazy"/>
          </div>
          <div class="top-sales__wrapper-info">
            <div class="top-sales__owner">
              <img src="./assets/images/raster/top-sales-avatar-4.png" width="24" height="24" alt="Аватар Oswaald" loading="lazy">
              <span>Oswaald</span>
            </div>
            <h3 class="top-sales__title-sticker">Infinity_09</h3>
            <data class="top-sales__price" value="1.6109">
              1.6109 ETH <span>($5,762.32)</span>
            </data>
          </div>
        </article>
      </li>

      <li class="top-sales__item">
        <article class="top-sales__sticker">
          <div class="top-sales__wrapper-image">
            <img src="./assets/images/raster/top-sales-sad.png" width="142" height="174" alt="Стикер 'Sad'"
                 loading="lazy"/>
          </div>
          <div class="top-sales__wrapper-info">
            <div class="top-sales__owner">
              <img src="./assets/images/raster/top-sales-avatar-5.png" width="24" height="24" alt="Аватар Paul-22" loading="lazy">
              <span>Paul-22</span>
            </div>
            <h3 class="top-sales__title-sticker">Sadsadsad</h3>
            <data class="top-sales__price" value="1.50">
              1.50 ETH <span>($5,365.62)</span>
            </data>
          </div>
        </article>
      </li>

      <li class="top-sales__item">
        <article class="top-sales__sticker">
          <div class="top-sales__wrapper-image">
            <img src="./assets/images/raster/top-sales-attntn.png" width="142" height="174" alt="Стикер 'Attntn'"
                 loading="lazy"/>
          </div>
          <div class="top-sales__wrapper-info">
            <div class="top-sales__owner">
              <img src="./assets/images/raster/top-sales-avatar-6.png" width="24" height="24" alt="Аватар wardxxx" loading="lazy">
              <span>wardxxx</span>
            </div>
            <h3 class="top-sales__title-sticker">Attntn</h3>
            <data class="top-sales__price" value="1.0">
              1.0 ETH <span>($3,577.08)</span>
            </data>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
