@use '../../../styles/variables' as variables;

.become-author {
  padding: 90px 0;

  @media (width <= 768px) {
    padding: clamp(5rem, 4.4339rem + 2.4814vw, 5.625rem) 0;
  }

  .container {
    display: flex;
    justify-content: space-between;
  }

  &__title-main, &__subtitle {
    color: variables.$text-main-color;
    font-family: variables.$font-family-secondary;
    font-weight: 400;
    letter-spacing: 0;
    margin: 0 0 16px;
  }

  &__title-main {
    font-size: clamp(1.875rem, 1.4349rem + 1.9293vw, 3.75rem);
    line-height: 72px;
    text-align: left;
  }

  /*  &__subtitle, &__text {
      max-width: 788px;
      width: 100%;
    }*/

  &__image {
    &-info {
      max-width: 624px;

      img {
        max-width: 100%;
      }
    }
  }

  &__subtitle {
    font-size: 20px;
    line-height: 24px;
    text-align: left;
  }

  &__text {
    color: variables.$text-main-color;
    font-family: variables.$font-family-primary;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0;
    text-align: left;
    margin: 0 0 32px;

    @media (width <= 768px) {
      font-size: clamp(1rem, 0.7736rem + 0.9926vw, 1.25rem);
      line-height: clamp(1.75rem, 1.6368rem + 0.4963vw, 1.875rem);
      margin: 0 0 clamp(1rem, 0.0943rem + 3.9702vw, 2rem);;
    }
  }

  &__info, &__wrapper {
    width: calc((100% - 32px) / 2);
  }

  &__label {
    &-file {
      margin-bottom: 32px;
      display: flex;
      flex-direction: column;
      gap: 16px;
      align-items: center;
      width: 100%;
      padding: 98px 0;
      min-height: 342px;
      border-radius: 40px;
      background: variables.$grey;
      cursor: pointer;

      &:hover {
        .become-author__label-file-icon {
          border-color: variables.$link-hover;

          &::before {
            background-color: variables.$link-hover;
          }
        }
      }

      &-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: variables.$white;
        border: 2px solid transparent;
        transition: border-color 0.3s ease;

        &::before {
          content: "";
          display: block;
          top: 0;
          left: 0;
          width: 40px;
          height: 40px;
          background-color: variables.$grey;
          mask-image: url("../../../assets/images/vector/become-author-cross.svg");
          mask-repeat: no-repeat;
          mask-size: cover;
          mask-position: center;
          transition: background 0.3s ease;
        }
      }

      &-text {
        color: variables.$grey-middle;
        font-family: variables.$font-family-primary;
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0;
        text-align: center;
      }
    }
  }

  &__input {
    &-social {
      border: none;
      width: 100%;
      border-radius: 40px;
      background: variables.$grey;
      padding: 25px 5px 25px 32px;
      color: variables.$grey-dark;
      font-family: Muller;
      font-size: 20px;
      font-weight: 400;
      line-height: 100%;
      letter-spacing: 0;
      text-align: left;
      margin-bottom: 32px;
    }
  }
}
