@use '../../../styles/variables' as variables;

.become-author {
  padding: 90px 0;

  @media (width <= 768px) {
    padding: clamp(5rem, 4.4339rem + 2.4814vw, 5.625rem) 0;
  }

  .container {
    display: flex;
    justify-content: space-between;
  }

  &__title-main, &__subtitle {
    color: variables.$text-main-color;
    font-family: variables.$font-family-secondary;
    font-weight: 400;
    letter-spacing: 0;
    margin: 0 0 16px;
  }

  &__title-main {
    font-size: clamp(1.875rem, 1.4349rem + 1.9293vw, 3.75rem);
    line-height: 72px;
    text-align: left;
  }

/*  &__subtitle, &__text {
    max-width: 788px;
    width: 100%;
  }*/

  &__subtitle {
    font-size: 20px;
    line-height: 24px;
    text-align: left;
  }

  &__text {
    color: variables.$text-main-color;
    font-family: variables.$font-family-primary;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0;
    text-align: left;
    margin: 0 0 32px;

    @media (width <= 768px) {
      font-size: clamp(1rem, 0.7736rem + 0.9926vw, 1.25rem);
      line-height: clamp(1.75rem, 1.6368rem + 0.4963vw, 1.875rem);
      margin: 0 0 clamp(1rem, 0.0943rem + 3.9702vw, 2rem);;
    }
  }

  &__info, &__wrapper {
    width: calc((100% - 32px) / 2);
  }
}
