<section class="become-author">
  <div class="container">
    <div class="become-author__info">
      <h2 class="become-author__title-main">Стать автором</h2>
      <div class="become-author__subtitle">Если ты художник или стремишься им стать — добро пожаловать к нам!</div>
      <p class="become-author__text">Отправь нам от трёх до пяти своих работ и напиши свой ник в телеграмме. Если наши
        кураторы решат, что нам по пути,
        то мы обязательно свяжемся с тобой и обговорим условия сотрудничества! Удачи!</p>
      <div class="become-author__image-info">
        <img src="./assets/images/raster/become-author-hande-1920.png" alt="" loading="lazy">
      </div>
    </div>
    <div class="become-author__wrapper">
      <picture class="become-author__image-wrapper">
        <source srcset="./assets/images/raster/become-author-hande-768.png" media="(max-width: 768px)">
        <img src="./assets/images/raster/become-author-hande-1024.png" alt="" loading="lazy">
      </picture>
      <form class="become-author__form">
        <label for="become-author__input-file" class="become-author__label-file" tabindex="0" role="button">
          <div class="become-author__label-file-icon"></div>
          <span class="become-author__label-file-text">Прикрепить работы (.jpeg / .png)</span>
        </label>
        <input id="become-author__input-file" class="become-author__input-file visually-hidden" type="file"/>
        <label for="become-author__input-social" class="become-author-label-social visually-hidden">Ваши контакты в
          соцсетях</label>
        <input id="become-author__input-social" class="become-author__input-social" type="text"
               placeholder="@telegram_nickname"/>
        <button class="button become-author__button-send" type="button">Отправить</button>
      </form>
    </div>
  </div>
</section>
