<section class="become-author">
  <div class="container">
    <div class="become-author__info">
      <h2 class="become-author__title-main">Стать автором</h2>
      <div class="become-author__subtitle">Если ты художник или стремишься им стать — добро пожаловать к нам!</div>
      <p class="become-author__text">Отправь нам от трёх до пяти своих работ и напиши свой ник в телеграмме. Если наши
        кураторы решат, что нам по пути,
        то мы обязательно свяжемся с тобой и обговорим условия сотрудничества! Удачи!</p>
      <picture class="become-author__image-info">
        <source srcset="./assets/images/raster/become-author-hande-768.png" media="(max-width: 768px)">
        <source srcset="./assets/images/raster/become-author-hande-1024.png" media="(max-width: 1024px)">
        <img src="./assets/images/raster/become-author-hande-1920.png" alt="" loading="lazy">
      </picture>
    </div>
    <div class="become-author__wrapper">
      <picture class="become-author__image-wrapper visually-hidden">
        <source srcset="./assets/images/raster/become-author-hande-768.png" media="(max-width: 768px)">
        <source srcset="./assets/images/raster/become-author-hande-1024.png" media="(max-width: 1024px)">
        <img src="./assets/images/raster/become-author-hande-1920.png" alt="" loading="lazy">
      </picture>
      <form class="become-author__form">

      </form>
    </div>
  </div>
</section>
