@use "../../../styles/variables" as variables;

.actions-gallery {
  font-family: variables.$font-family-primary;

  &__title {
    &-main {
      color: variables.$text-main-color;
      font-family: variables.$font-family-secondary;
      font-size: clamp(1.25rem, 1.1913rem + 0.2572vw, 1.5rem);
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0;
      text-align: left;
      margin: 0 0 32px;
    }
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  &__item {
    flex-basis: 294px;
  }
}

.auction-product {
  &__image {
    border-radius: 40px 40px 0 0;
    background: variables.$grey;
    padding: 7px;
  }

  &__wrapper {
    &-image {
      max-width: 160px;
      width: 100%;
      margin: 0 auto;

      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }
  }
}
