@use "../../../styles/variables" as variables;

.actions-gallery {
  font-family: variables.$font-family-primary;

  .container {
    padding: 0 12px 90px;

    @media (width <= 1024px) {
      padding: 0 36px 90px;
    }
  }

  &__title {
    &-main {
      color: variables.$text-main-color;
      font-family: variables.$font-family-secondary;
      font-size: clamp(1.25rem, 1.1913rem + 0.2572vw, 1.5rem);
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0;
      text-align: left;
      margin: 0 0 32px;
    }
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
  }

  &__item {
    width: calc((100% - (32px * 3)) / 4);

    @media (width <= 1024px) {
      width: calc((100% - (32px * 2)) / 3);
    }

    @media (width <= 768px) {
      width: calc((100% - (32px * 1)) / 2);
    }
  }
}

.auction-product {
  &__image {
    border-radius: 40px 40px 0 0;
    background: variables.$grey;
    padding: 7px;
  }

  &__wrapper {
    &-image {
      max-width: 160px;
      width: 100%;
      margin: 0 auto;

      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }
  }


  &__info {
    border-radius:  0 0 40px 40px;
    background: variables.$text-main-color;
    color: variables.$white;
    padding: 16px;
  }

  &__owner {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 0 0 16px;
  }

  &__title, &__price {
    font-size: 20px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0;
    text-align: left;
    margin: 0 0 12px;
  }

  &__price {
    display: inline-block;
    color: variables.$link-hover;
  }

  &__timer {
    color: variables.$grey-middle;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0;
    text-align: left;
  }
}
