<section class="actions-gallery">
  <div class="container">
    <h2 class="actions-gallery__title-main">Другие аукционы</h2>
    <ul class="actions-gallery__list">
      <li class="actions-gallery__item">
        <article class="auction-product">
          <div class="auction-product__image">
            <div class="auction-product__wrapper-image">
              <img src="./assets/images/raster/auction-gallery-alien.png" width="160" height="160" alt="Стикер 'Alien'"
                   loading="lazy">
            </div>
          </div>
          <div class="auction-product__info"></div>
        </article>
      </li>
    </ul>
  </div>
</section>
