<section class="auctions-gallery">
  <div class="container">
    <h2 class="auctions-gallery__title-main">Другие аукционы</h2>
    <ul class="auctions-gallery__list">
      <li class="auctions-gallery__item">
        <article class="auction-product">
          <div class="auction-product__image">
            <div class="auction-product__wrapper-image">
              <img src="./assets/images/raster/auction-gallery-alien.png" width="160" height="160" alt="Стикер 'Alien'"
                   loading="lazy">
            </div>
          </div>
          <div class="auction-product__info">
            <div class="auction-product__owner">
              <img src="./assets/images/raster/auctions-gallery-avatar-1.png" width="24" height="24"
                   alt="Аватарка Frank.Nagval" loading="lazy">
              <span>Frank.Nagval</span>
            </div>
            <h3 class="auction-product__title">Alien (green) e_e</h3>
            <data class="auction-product__price" value="0.02">0.02 ETH</data>
            <div class="auction-product__timer">03 часа 25 мин 23 сек</div>
          </div>
        </article>
      </li>

      <li class="auctions-gallery__item">
        <article class="auction-product">
          <div class="auction-product__image">
            <div class="auction-product__wrapper-image">
              <img src="./assets/images/raster/auction-gallery-alien.png" width="160" height="160" alt="Стикер 'Alien'"
                   loading="lazy">
            </div>
          </div>
          <div class="auction-product__info">
            <div class="auction-product__owner">
              <img src="./assets/images/raster/auctions-gallery-avatar-1.png" width="24" height="24"
                   alt="Аватарка Frank.Nagval" loading="lazy">
              <span>Frank.Nagval</span>
            </div>
            <h3 class="auction-product__title">Alien (green) e_e</h3>
            <data class="auction-product__price" value="0.02">0.02 ETH</data>
            <div class="auction-product__timer">03 часа 25 мин 23 сек</div>
          </div>
        </article>
      </li>
      <li class="auctions-gallery__item">
        <article class="auction-product">
          <div class="auction-product__image">
            <div class="auction-product__wrapper-image">
              <img src="./assets/images/raster/auction-gallery-alien.png" width="160" height="160" alt="Стикер 'Alien'"
                   loading="lazy">
            </div>
          </div>
          <div class="auction-product__info">
            <div class="auction-product__owner">
              <img src="./assets/images/raster/auctions-gallery-avatar-1.png" width="24" height="24"
                   alt="Аватарка Frank.Nagval" loading="lazy">
              <span>Frank.Nagval</span>
            </div>
            <h3 class="auction-product__title">Alien (green) e_e</h3>
            <data class="auction-product__price" value="0.02">0.02 ETH</data>
            <div class="auction-product__timer">03 часа 25 мин 23 сек</div>
          </div>
        </article>
      </li>
      <li class="auctions-gallery__item">
        <article class="auction-product">
          <div class="auction-product__image">
            <div class="auction-product__wrapper-image">
              <img src="./assets/images/raster/auction-gallery-alien.png" width="160" height="160" alt="Стикер 'Alien'"
                   loading="lazy">
            </div>
          </div>
          <div class="auction-product__info">
            <div class="auction-product__owner">
              <img src="./assets/images/raster/auctions-gallery-avatar-1.png" width="24" height="24"
                   alt="Аватарка Frank.Nagval" loading="lazy">
              <span>Frank.Nagval</span>
            </div>
            <h3 class="auction-product__title">Alien (green) e_e</h3>
            <data class="auction-product__price" value="0.02">0.02 ETH</data>
            <div class="auction-product__timer">03 часа 25 мин 23 сек</div>
          </div>
        </article>
      </li>


      <li class="auctions-gallery__item">
        <article class="auction-product">
          <div class="auction-product__image">
            <div class="auction-product__wrapper-image">
              <img src="./assets/images/raster/auction-gallery-alien.png" width="160" height="160" alt="Стикер 'Alien'"
                   loading="lazy">
            </div>
          </div>
          <div class="auction-product__info">
            <div class="auction-product__owner">
              <img src="./assets/images/raster/auctions-gallery-avatar-1.png" width="24" height="24"
                   alt="Аватарка Frank.Nagval" loading="lazy">
              <span>Frank.Nagval</span>
            </div>
            <h3 class="auction-product__title">Alien (green) e_e</h3>
            <data class="auction-product__price" value="0.02">0.02 ETH</data>
            <div class="auction-product__timer">03 часа 25 мин 23 сек</div>
          </div>
        </article>
      </li>

      <li class="auctions-gallery__item">
        <article class="auction-product">
          <div class="auction-product__image">
            <div class="auction-product__wrapper-image">
              <img src="./assets/images/raster/auction-gallery-alien.png" width="160" height="160" alt="Стикер 'Alien'"
                   loading="lazy">
            </div>
          </div>
          <div class="auction-product__info">
            <div class="auction-product__owner">
              <img src="./assets/images/raster/auctions-gallery-avatar-1.png" width="24" height="24"
                   alt="Аватарка Frank.Nagval" loading="lazy">
              <span>Frank.Nagval</span>
            </div>
            <h3 class="auction-product__title">Alien (green) e_e</h3>
            <data class="auction-product__price" value="0.02">0.02 ETH</data>
            <div class="auction-product__timer">03 часа 25 мин 23 сек</div>
          </div>
        </article>
      </li>
      <li class="auctions-gallery__item">
        <article class="auction-product">
          <div class="auction-product__image">
            <div class="auction-product__wrapper-image">
              <img src="./assets/images/raster/auction-gallery-alien.png" width="160" height="160" alt="Стикер 'Alien'"
                   loading="lazy">
            </div>
          </div>
          <div class="auction-product__info">
            <div class="auction-product__owner">
              <img src="./assets/images/raster/auctions-gallery-avatar-1.png" width="24" height="24"
                   alt="Аватарка Frank.Nagval" loading="lazy">
              <span>Frank.Nagval</span>
            </div>
            <h3 class="auction-product__title">Alien (green) e_e</h3>
            <data class="auction-product__price" value="0.02">0.02 ETH</data>
            <div class="auction-product__timer">03 часа 25 мин 23 сек</div>
          </div>
        </article>
      </li>
      <li class="auctions-gallery__item">
        <article class="auction-product">
          <div class="auction-product__image">
            <div class="auction-product__wrapper-image">
              <img src="./assets/images/raster/auction-gallery-alien.png" width="160" height="160" alt="Стикер 'Alien'"
                   loading="lazy">
            </div>
          </div>
          <div class="auction-product__info">
            <div class="auction-product__owner">
              <img src="./assets/images/raster/auctions-gallery-avatar-1.png" width="24" height="24"
                   alt="Аватарка Frank.Nagval" loading="lazy">
              <span>Frank.Nagval</span>
            </div>
            <h3 class="auction-product__title">Alien (green) e_e</h3>
            <data class="auction-product__price" value="0.02">0.02 ETH</data>
            <div class="auction-product__timer">03 часа 25 мин 23 сек</div>
          </div>
        </article>
      </li>
    </ul>
    <div class="auctions-gallery__swiper">
      <app-swiper [type]="SwiperType.GALLERY" class="s">
        <div class="swiper-slide">
          <article class="auction-product">
            <div class="auction-product__image">
              <div class="auction-product__wrapper-image">
                <img src="./assets/images/raster/auction-gallery-alien.png" width="160" height="160" alt="Стикер 'Alien'"
                     loading="lazy">
              </div>
            </div>
            <div class="auction-product__info">
              <div class="auction-product__owner">
                <img src="./assets/images/raster/auctions-gallery-avatar-1.png" width="24" height="24"
                     alt="Аватарка Frank.Nagval" loading="lazy">
                <span>Frank.Nagval</span>
              </div>
              <h3 class="auction-product__title">Alien (green) e_e</h3>
              <data class="auction-product__price" value="0.02">0.02 ETH</data>
              <div class="auction-product__timer">03 часа 25 мин 23 сек</div>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="auction-product">
            <div class="auction-product__image">
              <div class="auction-product__wrapper-image">
                <img src="./assets/images/raster/auction-gallery-alien.png" width="160" height="160" alt="Стикер 'Alien'"
                     loading="lazy">
              </div>
            </div>
            <div class="auction-product__info">
              <div class="auction-product__owner">
                <img src="./assets/images/raster/auctions-gallery-avatar-1.png" width="24" height="24"
                     alt="Аватарка Frank.Nagval" loading="lazy">
                <span>Frank.Nagval</span>
              </div>
              <h3 class="auction-product__title">Alien (green) e_e</h3>
              <data class="auction-product__price" value="0.02">0.02 ETH</data>
              <div class="auction-product__timer">03 часа 25 мин 23 сек</div>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="auction-product">
            <div class="auction-product__image">
              <div class="auction-product__wrapper-image">
                <img src="./assets/images/raster/auction-gallery-alien.png" width="160" height="160" alt="Стикер 'Alien'"
                     loading="lazy">
              </div>
            </div>
            <div class="auction-product__info">
              <div class="auction-product__owner">
                <img src="./assets/images/raster/auctions-gallery-avatar-1.png" width="24" height="24"
                     alt="Аватарка Frank.Nagval" loading="lazy">
                <span>Frank.Nagval</span>
              </div>
              <h3 class="auction-product__title">Alien (green) e_e</h3>
              <data class="auction-product__price" value="0.02">0.02 ETH</data>
              <div class="auction-product__timer">03 часа 25 мин 23 сек</div>
            </div>
          </article>
        </div>
      </app-swiper>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
        <button class="auctions-gallery__button-all-auctions" type="button">
          Все аукционы
        </button>
  </div>
</section>
