@use "../../../styles/variables" as variables;

.actions-gallery {
  font-family: variables.$font-family-primary;

  .container {
    padding: 0 12px 90px;

    @media (width <= 1024px) {
      padding: 0 clamp(0.75rem, -0.0808rem + 3.6419vw, 2.25rem) 90px;
    }
  }

  &__title {
    &-main {
      color: variables.$text-main-color;
      font-family: variables.$font-family-secondary;
      font-size: clamp(1.25rem, 1.1913rem + 0.2572vw, 1.5rem);
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0;
      text-align: left;
      margin: 0 0 32px;
    }
  }

  &__list {
    list-style: none;
    margin: 0 0 32px;
    padding: 0;
    display: flex;
    gap: 32px;
    flex-wrap: wrap;

    @media (width <= 491px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__item {
    width: calc((100% - (32px * 3)) / 4);

    @media (width <= 1024px) {
      width: calc((100% - (32px * 2)) / 3);
    }

    @media (width <= 768px) {
      width: calc((100% - (32px * 1)) / 2);
    }

    @media (width <= 491px) {
      width: 281px;
    }
  }

  &__button {
    &-all-auctions {
      display: block;
      border: 5px solid variables.$link-hover;
      background-color: transparent;
      border-radius: 40px;
      padding: 20px 54px;
      max-width: 296px;
      width: 100%;
      color: variables.$text-main-color;
      font-family: variables.$font-family-primary;
      font-size: clamp(1rem, 0.8615rem + 0.607vw, 1.25rem);
      font-weight: 700;
      line-height: 100%;
      letter-spacing: 0;
      text-align: center;
      margin: 0 auto;
      cursor: pointer;
      transition: background-color 0.3s ease, border-color 0.3s ease;

      &:hover {
        background-color: variables.$link-hover;
      }

      &:active {
        border-color: variables.$link-active;
        background-color: variables.$link-active;
      }

      @media (width <= 768px) {
        width: clamp(12.5rem, 9.1768rem + 14.5675vw, 18.5rem);
        padding: clamp(0.75rem, 0.2971rem + 1.9851vw, 1.25rem) clamp(1.3437rem, -0.2129rem + 6.8238vw, 3.0625rem);
      }
    }
  }
}

.auction-product {
  &__image {
    border-radius: 40px 40px 0 0;
    background: variables.$grey;
    padding: 7px;
  }

  &__wrapper {
    &-image {
      max-width: 160px;
      width: 100%;
      margin: 0 auto;

      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }
  }


  &__info {
    border-radius:  0 0 40px 40px;
    background: variables.$text-main-color;
    color: variables.$white;
    padding: 16px;
  }

  &__owner {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 0 0 16px;
  }

  &__title, &__price {
    font-size: 20px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0;
    text-align: left;
    margin: 0 0 12px;
  }

  &__price {
    display: inline-block;
    color: variables.$link-hover;
  }

  &__timer {
    color: variables.$grey-middle;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0;
    text-align: left;
  }
}
