<footer class="footer" role="contentinfo">
    <div class="footer__wrapper-top">
      <div class="container">
        <a class="footer__logo-link">
          <img src="./assets/images/vector/header-logo.svg" width="100" height="40" alt="Логотип компании 'Aura'">
        </a>
        <nav class="footer__nav" aria-label="Навигация в footer">
          <ul class="footer__list">
            <li class="footer__item">
              <a class="footer__link-nav" href="#">Соглашение</a>
            </li>
            <li class="footer__item">
              <a class="footer__link-nav" href="#">Лицензия</a>
            </li>
            <li class="footer__item">
              <a class="footer__link-nav" href="#">FAQ</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  <div class="footer__wrapper-bottom">
    <small class="footer__copyright">&copy; 2021 AURA&reg;. Все права защищены.</small>
  </div>
</footer>
