<section class="top-requirement">
  <div class="container">
    <h2 class="top-requirement__title-main">Для попадания в топ необходимо:</h2>
    <ul class="top-requirement__list">
      <li class="top-requirement__item top-requirement__item--collections">
        Минимум пять опубликованных работ
      </li>
      <li class="top-requirement__item top-requirement__item--emoticon">
        Инвайт трём коллегам по цеху
      </li>
      <li class="top-requirement__item top-requirement__item--verified">
        Верифицированный аккаунт
      </li>
    </ul>
  </div>
</section>
