// ===== COLOR =====
$text-main-color: rgb(7 6 11 / 100%);
$white: rgb(255 255 255 / 100%);
$grey-light: rgb(196 196 196 / 100%);
$link-hover: rgb(70 244 219 / 100%);
$link-active: rgb(87 210 114 / 100%);

/* Фон */

/* Компоненты */

// ===== TYPOGRAPHY =====
$font-family-primary: "Muller", sans-serif;
$font-family-secondary: "Russo One", sans-serif;

