// ===== COLOR =====
$text-main-color: rgb(7 6 11 / 100%);
$text-main-color-light: rgb(255 255 255 / 50%);
$white: rgb(255 255 255 / 100%);

/* Фон */

/* Компоненты */

// ===== TYPOGRAPHY =====
$font-family-primary: "Muller", sans-serif;
$font-family-secondary: "Russo One", sans-serif;

