@use "../../../styles/variables" as variables;

.new-stickers {
  background-color: variables.$text-main-color;

  .container {
    padding: 90px 12px;

    @media (width <= 1024px) {
      padding: 90px clamp(0.75rem, -0.0808rem + 3.6419vw, 2.25rem);
    }
  }

  &__title {
    &-main {
      display: flex;
      align-items: center;
      gap: 16px;
      color: variables.$white;
      font-family: variables.$font-family-secondary;
      font-size: 60px;
      font-weight: 400;
      line-height: 72px;
      letter-spacing: 0;
      text-align: left;
      margin: 0 0 32px;

      &::before {
        content: "";
        display: block;
        top: 0;
        left: 0;
        width: 48px;
        height: 48px;
        background-image: url("../../../assets/images/raster/new-stickers-fire.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
    }
  }

  &__slide {
    display: flex;
    justify-content: center;
    gap: 21px;

    @media (width <= 1440px) {
      img {
        max-width: 100%;
      }
    }

  }
}
