@use "../../../styles/variables" as variables;

.new-stickers {
  background-color: variables.$text-main-color;

  .container {
    padding: 90px 12px;

    @media (width <= 1024px) {
      padding: 90px clamp(0.75rem, -0.0808rem + 3.6419vw, 2.25rem);
    }
  }

  &__title {
    &-main {
      display: flex;
      align-items: center;
      gap: 16px;
      color: variables.$white;
      font-family: variables.$font-family-secondary;
      font-size: 60px;
      font-weight: 400;
      line-height: 72px;
      letter-spacing: 0;
      text-align: left;
      margin: 0 0 32px;

      &::before {
        content: "";
        display: block;
        top: 0;
        left: 0;
        width: 48px;
        height: 48px;
        background-image: url("../../../assets/images/raster/new-stickers-fire.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        @media (width <= 768px) {
          width: clamp(1.5rem, 0.1414rem + 5.9553vw, 3rem);
          height: clamp(1.5rem, 0.1414rem + 5.9553vw, 3rem);;
        }
      }

      @media (width <= 768px) {
        font-size: clamp(1.75rem, 1.6368rem + 0.4963vw, 1.875rem);
        line-height: 100%;
      }
    }
  }

  &__slide {
    display: flex;
    justify-content: center;
    gap: 21px;

    img {
      display: block;
    }

    @media (width <= 1440px) {
      img {
        max-width: 100%;
      }
    }
  }

  &__slider {
    position: relative;
    text-align: center;
  }

  &__swiper {
    .swiper {
      margin-bottom: 64px;
    }
  }
}
