<header class="header-main">
  <div class="header-main__content container">
    <a class="header-main__logo" href="#main">
      <img src="./assets/images/vector/header-logo.svg" width="100" height="40" alt="Логотип компании 'Aura'">
    </a>
    <nav class="header-main__nav">
      <ul class="header-main__list">
        <li class="header-main__item"><a class="header-main__link" href="#author">Авторы</a></li>
        <li class="header-main__item"><a class="header-main__link" href="#collection">Коллекции</a></li>
        <li class="header-main__item"><a class="header-main__link" href="#service">Сервисы</a></li>
      </ul>
    </nav>
    <button class="header-main__button-wallet">Кошелёк</button>
  </div>
</header>
