<section class="auction-live">
  <div class="container">
    <h2 class="auction-live__title-main">
      Аукцион
      <span>Live auction</span>
    </h2>
    <div class="auction-live__content">
      <div class="auction-live__wrapper-image">
        <img src="./assets/images/raster/auction-live-witcher.png" width="460" height="260" alt="Стикер 'Witcher'">
      </div>
      <div class="auction-live__wrapper-bet" role="region">
        <h3 class="auction-live__title-region">Witcherrr_3 (xml_t5)</h3>
        <div class="auction-live__owner">
          <div class="auction-live__wrapper-avatar">
            <img src="./assets/images/raster/auction-live-avatar.png" width="48" height="48" alt="Аватар Serge_VM222">
          </div>
          <span>Serge_VM222</span>
        </div>
      </div>
    </div>
  </div>
</section>
