<section class="subscribe">
  <div class="container">
    <h2 class="subscribe__title-main">Будь в курсе новинок! Подпишись на рассылку!</h2>
    <div class="subscribe__content">
      <form class="subscribe__form">
        <label for="subscribe-name" class="subscribe__label subscribe__label--name visually-hidden">Имя</label>
        <input id="subscribe-name" class="subscribe__input subscribe__input--name" type="text" placeholder="Имя">
        <label for="subscribe-email" class="subscribe__label subscribe__label--email visually-hidden">Email</label>
        <input id="subscribe-email" class="subscribe__input subscribe__input--email" type="email" placeholder="Email">
        <button class="button subscribe__button" type="submit">Подписаться</button>
        <input id="accept-policy" class="subscribe__input subscribe__input--accept-policy visually-hidden" type="checkbox">
        <label for="accept-policy" class="subscribe__label subscribe__label--accept-policy">Согласен на обработку персональных данных</label>
      </form>
    </div>
  </div>
</section>
