@use '../../../styles/variables' as variables;

.subscribe {
  background-color: variables.$red;

  .container {
    background-image: url("../../../assets/images/raster/subscribe-bg-1920.png");
    background-repeat: no-repeat;
    background-position: right 15px center;
    padding: 32px 12px;

    @media (width <= 1300px) {
      background-position: right clamp(-18.75rem, -91.7935rem + 114.1304vw, 0.9375rem) center;
    }

    @media (width <= 1024px) {
      background-image: url("../../../assets/images/raster/subscribe-bg-1024.png");
      background-position: right 15px center;
    }

    @media (width <= 980px) {
      background-position: right clamp(-12.5rem, -61.1792rem + 101.4151vw, 0.9375rem) center;
    }

    @media (width <= 768px) {
      padding: 32px 12px 200px;
      background-position: bottom -150px center;
    }
  }

  &__title {
    &-main {
      margin: 0 0 32px;
      color: variables.$white;
      font-family: variables.$font-family-secondary;
      font-size: 20px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0;
      text-align: left;

      @media (width <= 768px) {
        margin-bottom: clamp(1rem, 0.0943rem + 3.9702vw, 2rem);
      }
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 460px;
    width: 100%;
  }

  &__label {
    &--accept-policy {
      position: relative;
      cursor: pointer;
      padding-left: 22px;
      line-height: 12px;
      color: variables.$white;
      font-family: variables.$font-family-primary;
      font-size: 12px;
      font-weight: 700;
      line-height: 12px;
      letter-spacing: 0;
      text-align: left;

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: -1px;
        left: -1px;
        width: 14px;
        height: 14px;
        border: 1px solid variables.$white;
      }

      &::after {
        content: "";
        position: absolute;
        top: -1px;
        left: -1px;
        display: block;
        width: 14px;
        height: 14px;
        background-image: url("../../../assets/images/vector/subscribe-accept.svg");
        background-repeat: no-repeat;
        background-position: center;

        opacity: 0;
        transition: opacity 0.3s ease;
      }

      @media (width <= 768px) {
        &::before, &::after {
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }

    @media (width <= 768px) {
      font-size: clamp(0.75rem, 0.5236rem + 0.9926vw, 1rem);
    }
  }

  &__input {
    font-family: variables.$font-family-primary;
    padding: 25px 10px 25px 32px;
    border: none;
    border-radius: 40px;
    background: variables.$text-main-color;
    color: variables.$grey;
    font-size: 20px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0;
    text-align: left;

    @media (width <= 768px) {
      padding: clamp(0.625rem, -0.2241rem + 3.7221vw, 1.5625rem) 10px clamp(0.625rem, -0.2241rem + 3.7221vw, 1.5625rem) 32px;
    }

    &--accept-policy:checked + .subscribe__label--accept-policy::after {
      opacity: 1;
    }
  }
}
