@use "./styles/fonts";
@use "./styles/variables" as variables;
@import "../node_modules/swiper/swiper.min.css";
@import "../node_modules/swiper/modules/navigation.min.css";
@import "../node_modules/swiper/modules/pagination.min.css";
@import "../node_modules/swiper/modules/pagination-element.min.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  max-width: 1304px;
  width: 100%;
  padding: 0 12px;
  margin: 0 auto;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: -30px;
}

.swiper-button-next,
.swiper-button-prev {
  top: 30%;
}

.new-stickers__swiper .swiper {
  margin-bottom: 64px;
}

.new-stickers__pagination .swiper-pagination-bullet {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid variables.$red;
  border-radius: 40px;
  padding: 10px 23px;
  color: variables.$white;
  font-family: variables.$font-family-primary;
  font-size: 16px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0;
  text-align: center;
  opacity: 1;

  @media (width <= 768px) {
    padding: 8px 15px;
  }
}

.new-stickers__pagination
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: variables.$red;
}

.swiper-wrapper {
  align-items: center;
}

.button {
  position: relative;
  max-width: 296px;
  width: 100%;
  border: none;
  background-color: variables.$link-hover;
  padding: 25px 54px;
  border-radius: 40px;
  z-index: 1;
  color: variables.$text-main-color;
  font-family: variables.$font-family-primary;
  font-size: 20px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0;
  text-align: center;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    opacity: 0;
    z-index: -1;
    transition: opacity 0.3s ease;
  }

  &::before {
    background: variables.$button-gradient;
  }

  &::after {
    background: variables.$link-active;
  }

  &:hover {
    &::before {
      opacity: 1;
    }
  }

  &:active {
    &::after {
      opacity: 1;
    }
  }

  @media (width <= 768px) {
    font-size: clamp(1rem, 0.7736rem + 0.9926vw, 1.25rem);
    width: clamp(12.5rem, 7.0658rem + 23.8213vw, 18.5rem);
    padding: clamp(0.9375rem, 0.3714rem + 2.4814vw, 1.5625rem)
    clamp(1.625rem, 0.04rem + 6.9479vw, 3.375rem);
  }
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  border: 0;
}
