@use "./styles/fonts";
@use "./styles/variables" as variables;
@import "../node_modules/swiper/swiper.min.css";
@import "../node_modules/swiper/modules/navigation.min.css";
@import "../node_modules/swiper/modules/pagination.min.css";
@import "../node_modules/swiper/modules/pagination-element.min.css";

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  max-width: 1304px;
  width: 100%;
  padding: 0 12px;
  margin: 0 auto;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: -30px;
}

.swiper-button-next, .swiper-button-prev {
  top: 30%;
}

.new-stickers__swiper .swiper {
  margin-bottom: 64px;
}

.new-stickers__pagination .swiper-pagination-bullet {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid variables.$red;
  border-radius: 40px;
  padding: 10px 23px;
  color: variables.$white;
  font-family: variables.$font-family-primary;
  font-size: 16px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0;
  text-align: center;
  opacity: 1;
}

.new-stickers__pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: variables.$red;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  border: 0;
}
