@use "./styles/fonts";
@use "./styles/variables" as variables;

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  max-width: 1304px;
  width: 100%;
  padding: 0 12px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  border: 0;
}
