@use "./styles/fonts";
@use "./styles/variables" as variables;
@import "../node_modules/swiper/swiper.min.css";
@import "../node_modules/swiper/modules/navigation.min.css";
@import "../node_modules/swiper/modules/pagination.min.css";
@import "../node_modules/swiper/modules/pagination-element.min.css";

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  max-width: 1304px;
  width: 100%;
  padding: 0 12px;
  margin: 0 auto;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: -30px;
}

.swiper-button-next, .swiper-button-prev {
  top: 30%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  border: 0;
}
