<section class="hero" aria-labelledby="hero__title-main">
  <h2 id="hero__title-main" class="hero__title-main visually-hidden">Площадка криптостикеров</h2>
  <div class="hero__content container">
    <h3 class="hero__title-content">Площадка для&nbsp;реализации криптостикеров</h3>
    <div class="hero__wrapper" role="group">
      <button class="hero__button-buy">Купить</button>
      <button class="hero__button-author">
        <span>Стать автором</span>
      </button>
    </div>
  </div>
</section>
