@use "../../../styles/variables" as variables;

.hero {
  padding: 160px 0;
  background: black url("../../../assets/images/raster/hero-bg-1920.png") no-repeat right;

  @media (width <= 1490px)  {
    background-position: calc(100% + 400px) top;
  }

  @media (width <= 1024px) {
    background: black url("../../../assets/images/raster/hero-bg-1024.png") no-repeat right;
  }

  &__content {
    @media (width <= 1024px) {
      padding: 0 36px;
    }
  }

  &__title {
    &-content {
      max-width: 621px;
      width: 100%;
      color: variables.$white;
      font-family: variables.$font-family-secondary;
      font-size: 70px;
      font-weight: 400;
      line-height: 84px;
      letter-spacing: 0;
      text-align: left;
      margin: 0 0 36px;
    }
  }

  &__button {
    &-buy {
      border: none;
      border-radius: 40px;
      padding: 25px 54px;
      background: variables.$button-gradient;
      color: variables.$text-main-color;
      font-family: variables.$font-family-primary;
      font-size: 20px;
      font-weight: 700;
      line-height: 100%;
      letter-spacing: 0;
      text-align: center;
      margin-right: 32px;
      cursor: pointer;
    }

    &-author {
      border: none;
      background: variables.$button-gradient;
      padding: 5px;
      border-radius: 40px;
      overflow: hidden;

      span {
        color: variables.$white;
        display: block;
        padding: 20px 54px;
        background: black;
        border-radius: 35px;
        font-family: variables.$font-family-primary;
        font-size: 20px;
        font-weight: 700;
        line-height: 100%;
        letter-spacing: 0;
        text-align: center;
        cursor: pointer;
      }
    }
  }
}
