@use "../../../styles/variables" as variables;

.hero {
  padding: 160px 0;
  background: black url("../../../assets/images/raster/hero-bg-1920.png")
    no-repeat right;

  @media (width <= 1490px) {
    background-position: calc(100% + 400px) top;
  }

  @media (width <= 1024px) {
    background: black url("../../../assets/images/raster/hero-bg-1024.png")
      no-repeat right;
  }

  @media (width <= 768px) {
    padding: clamp(4rem, -1.4342rem + 23.8213vw, 10rem) 0 210px;
  }

  @media (width <= 450px) {
    background: black url("../../../assets/images/raster/hero-bg-768.png")
      no-repeat bottom center;
  }

  &__content {
    @media (width <= 1024px) {
      padding: 0 36px;
    }

    @media (width <= 768px) {
      padding: 0 clamp(0.75rem, -0.6086rem + 5.9553vw, 2.25rem);
    }
  }

  &__title {
    &-content {
      max-width: 621px;
      width: 100%;
      color: variables.$white;
      font-family: variables.$font-family-secondary;
      font-size: 70px;
      font-weight: 400;
      line-height: 100%;
      letter-spacing: 0;
      text-align: left;
      margin: 0 0 36px;

      @media (width <= 768px) {
        font-size: clamp(1.9375rem, -0.2702rem + 9.6774vw, 4.375rem);
        margin: 0 0 clamp(1rem, -0.1321rem + 4.9628vw, 2.25rem);
      }
    }
  }

  &__button {
    &-buy {
      position: relative;
      border: none;
      max-width: 176px;
      width: 100%;
      border-radius: 40px;
      padding: 25px 54px;
      background: variables.$button-gradient;
      color: variables.$text-main-color;
      font-family: variables.$font-family-primary;
      font-size: 20px;
      font-weight: 700;
      line-height: 100%;
      letter-spacing: 0;
      text-align: center;
      margin-right: 32px;
      cursor: pointer;
      transition: all 0.3s ease;
      z-index: 1;

      @media (width <= 768px) {
        margin: 0 0 clamp(1rem, 0.0943rem + 3.9702vw, 2rem);
        font-size: clamp(1rem, 0.7736rem + 0.9926vw, 1.25rem);
        padding: clamp(1.0625rem, 0.6096rem + 1.9851vw, 1.5625rem)
          clamp(2.406rem, 1.5288rem + 3.8462vw, 3.375rem);
        width: clamp(8.25rem, 5.7593rem + 10.9181vw, 11rem);
      }

      &::before,
      &::after {
        position: absolute;
        content: "";
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 40px;
        opacity: 0;
        transition: all 0.3s ease;
        z-index: -1;
      }

      &::before {
        background-color: variables.$link-hover;
      }

      &::after {
        background-color: variables.$link-active;
      }

      span {
        display: block;
      }

      &:hover {
        &::before {
          opacity: 1;
        }
      }

      &:active {
        &::after {
          opacity: 1;
        }
      }
    }

    &-author {
      position: relative;
      max-width: 247px;
      width: 100%;
      border: none;
      background: variables.$button-gradient;
      padding: 5px;
      border-radius: 40px;
      overflow: hidden;
      cursor: pointer;
      z-index: 1;

      &::after {
        position: absolute;
        content: "";
        display: block;
        background-color: variables.$link-active;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 40px;
        opacity: 0;
        transition: all 0.3s ease;
        z-index: -1;
      }

      @media (width <= 768px) {
        display: block;
        width: clamp(10.25rem, 5.5516rem + 20.5955vw, 15.4375rem);
      }

      span {
        color: variables.$white;
        display: block;
        padding: 20px 49px;
        background-color: black;
        border-radius: 35px;
        font-family: variables.$font-family-primary;
        font-size: 20px;
        font-weight: 700;
        line-height: 100%;
        letter-spacing: 0;
        text-align: center;
        cursor: pointer;
        transition: all 0.3s ease;

        @media (width <= 768px) {
          font-size: clamp(1rem, 0.7736rem + 0.9926vw, 1.25rem);
          padding: clamp(0.75rem, 0.2971rem + 1.9851vw, 1.25rem)
            clamp(1.3437rem, -0.2129rem + 6.8238vw, 3.0625rem);
        }
      }

      &:hover {
        span {
          background-color: transparent;
          color: variables.$text-main-color;
        }
      }

      &:active {
        &::after {
          opacity: 1;
        }
      }
    }
  }
}
